// If you're including all the styles for Carbon
@use "@carbon/styles";

// Or if you're wanting to use just the grid
@use "@carbon/styles/scss/grid";

@use "@carbon/layout";
// Emit the flex-grid styles
@include grid.flex-grid();

.main-div {
  margin-top: layout.$spacing-05;
}

.cds--row {
  margin-top: layout.$spacing-05;
}

.cds--col {
  display: flex;
  justify-content: center;
}

.col1 {
  border: 1px solid black;

  margin-top: layout.$spacing-05;
}

.grid-system {
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-05;

  border: 1px solid black;
}
